/.KlangHighlighingSwitch.java._trace
/.KlangHighlighingSwitch.xtendbin
/.KlangHighlightingConfiguration.java._trace
/.KlangHighlightingConfiguration.xtendbin
/.KlangSemanticHighlightingCalculator.java._trace
/.KlangSemanticHighlightingCalculator.xtendbin
/KlangHighlighingSwitch.java
/KlangHighlightingConfiguration.java
/KlangSemanticHighlightingCalculator.java
