<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated klang -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="klang.presentation.KlangModelWizardID"
            name="%_UI_KlangModelWizard_label"
            class="klang.presentation.KlangModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KlangModelFile.gif">
         <description>%_UI_KlangModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated klang -->
      <editor
            id="klang.presentation.KlangEditorID"
            name="%_UI_KlangEditor_label"
            icon="icons/full/obj16/KlangModelFile.gif"
            extensions="klang"
            class="klang.presentation.KlangEditor"
            contributorClass="klang.presentation.KlangActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated klang-expr -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="klangexpr.presentation.KlangexprModelWizardID"
            name="%_UI_KlangexprModelWizard_label"
            class="klangexpr.presentation.KlangexprModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KlangexprModelFile.gif">
         <description>%_UI_KlangexprModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated klang-expr -->
      <editor
            id="klangexpr.presentation.KlangexprEditorID"
            name="%_UI_KlangexprEditor_label"
            icon="icons/full/obj16/KlangexprModelFile.gif"
            extensions="klangexpr"
            class="klangexpr.presentation.KlangexprEditor"
            contributorClass="klangexpr.presentation.KlangexprActionBarContributor">
      </editor>
   </extension>
</plugin>
