<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated klang -->
      <package
            uri="http://www.example.org/klang"
            class="klang.KlangPackage"
            genModel="model/klang.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated klang -->
      <package
            uri="http://www.example.org/klang/framework"
            class="klang.framework.FrameworkPackage"
            genModel="model/klang.genmodel"/>
   </extension>

</plugin>
